/delete-node/ &storage_partition;
&flash0{
		partitions {
			compatible = "fixed-partitions";
			#address-cells = < 0x1 >;
			#size-cells = < 0x1 >;

			storage_partition: partition@e0000 {
				label = "storage";
				reg = < 0xe0000 0x4000 >;
			};
		};
};
