/delete-node/ &boot_partition;
/delete-node/ &slot0_partition;
/delete-node/ &slot1_partition;
/delete-node/ &storage_partition;

&flash0 {
	partitions {
		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x0 0xc000>;
		};

		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0xc000 0xf0000>;
		};

		storage_partition: partition@fc000 {
			label = "storage";
			reg = <0xfc000 0x4000>;
		};
	};
};

&mx25r64 {
	partitions {
		compatible = "fixed-partitions";
		ranges;
		#address-cells = <1>;
		#size-cells = <1>;

		slot1_partition: partition@0 {
			label = "image-1";
			reg = <0x0 0xf0000>;
		};
	};
};

/ {
	chosen {
		nordic,pm-ext-flash = &mx25r64;
		zephyr,code-partition = &slot0_partition;
	};
	aliases {
		myi2c = &i2c0;
		myspi = &spi1;
		myuart = &uart1;
	};
	zephyr,user {
		io-channels = <&adc 0>, <&adc 1>;
		extint-gpios = <&gpio0 0x19 GPIO_ACTIVE_LOW>;
	};
};

&uicr {
	nfct-pins-as-gpios;
};

&pinctrl {
	i2c0_default: i2c0_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
				<NRF_PSEL(TWIM_SCL, 0, 27)>;
			bias-pull-up;
			nordic,drive-mode = <NRF_DRIVE_S0D1>;
		};
	};

	i2c0_sleep: i2c0_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
				<NRF_PSEL(TWIM_SCL, 0, 27)>;
			low-power-enable;
		};
	};

	spi1_default: spi1_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 31)>,
				<NRF_PSEL(SPIM_MOSI, 0, 30)>,
				<NRF_PSEL(SPIM_MISO, 1, 8)>;
		};
	};

	spi1_sleep: spi1_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 31)>,
				<NRF_PSEL(SPIM_MOSI, 0, 30)>,
				<NRF_PSEL(SPIM_MISO, 1, 8)>;
			low-power-enable;
		};
	};
};

&uart1 {
	status = "okay";
	current-speed = < 1000000 >;
};

&i2c0 {
	status = "okay";
	compatible = "nordic,nrf-twim";
	pinctrl-0 = < &i2c0_default >;
	pinctrl-1 = < &i2c0_sleep >;
	pinctrl-names = "default", "sleep";
	i2c_dev_0: i2c_dev_0@50 {
		compatible = "i2c-device";
		reg = <0x50>;
	};
	i2c_dev_1: i2c_dev_1@b {
		compatible = "i2c-device";
		reg = <0x0B>;
	};
};

&spi0 {
	status = "disabled";
};

&spi1 {
	status = "okay";
	compatible = "nordic,nrf-spim";
	pinctrl-0 = <&spi1_default>;
	pinctrl-1 = <&spi1_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio1 12 GPIO_ACTIVE_LOW>, <&gpio1 6 GPIO_ACTIVE_LOW>;
	spi_dev_0: spi_dev_0@0 {
		compatible = "vnd,spi-device";
		reg = <0>;
		spi-max-frequency = <DT_FREQ_M(8)>;
	};
	spi_dev_1: spi_dev_1@1 {
		compatible = "vnd,spi-device";
		reg = <1>;
		spi-max-frequency = <DT_FREQ_M(8)>;
	};

};

&i2c1 {
	status = "disabled";
};

&adc {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 20)>;
		zephyr,input-positive = <NRF_SAADC_AIN0>;
		zephyr,vref-mv = <600>;
		zephyr,resolution = <10>;
	};

	channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 20)>;
		zephyr,input-positive = <NRF_SAADC_VDD>;
		zephyr,vref-mv = <600>;
		zephyr,resolution = <10>;
	};

};

/* delete sw3 to reserve the related pin for GPIO use */
/ {
	aliases {
	 /delete-property/ sw3;
	};
  };

/delete-node/ &button3;

&gpio0 {
	/* pin 0x19 sense for edge */
	sense-edge-mask = <0x2000000>;
};
