#
# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

source "Kconfig.zephyr"

config BLE_NETWORK_CORE
	bool "Both BLE host and controller run on network core"
	help
	  Enable the whole BLE stack running on network core
	  
config DFU_EXTERNAL_FLASH
	bool "external flash is used as the secondary slot of MCUBoot"
	default n
	help
		if yes, external flash is used as the secondary slot of MCUBoot