#
# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

source "Kconfig.zephyr"

menu "kconfig definition example"

config MACRO_EXAMPLE
	bool "define a macro CONFIG_MACRO_EXAMPLE"
	help
	  CONFIG_MACRO_EXAMPLE can be used globally in your application

endmenu
