/* overlay file for app core */

/* Open this config for NCS v1.8.0 or newer */
/ {
	chosen {
		nordic,pm-ext-flash = &mx25r64;
	};
};

&uart0 {
	compatible = "nordic,nrf-uarte";
	status = "okay";
	current-speed = < 115200 >;	
	tx-pin = < 0x14 >;
	rx-pin = < 0x16 >;
	/* delete rts-pin&cts-pin to release the related 2 pins for other uses */
	/delete-property/ rts-pin;
	/delete-property/ cts-pin;
};

&uart1 {
	status = "okay";
	current-speed = < 1000000 >;
	tx-pin = < 26 >;
	rx-pin = < 7 >;
};

&i2c1 {
	status = "disabled";
};

my_i2c: &i2c2 {
	status = "okay";
	compatible = "nordic,nrf-twim";
	sda-pin = <4>;
	scl-pin = <27>;
};

&spi2 {
	status = "disabled";
};

my_spi: &spi3 {
	status = "okay"; 
	compatible = "nordic,nrf-spim";
	sck-pin = < 47 >;
	miso-pin = < 46 >;
	mosi-pin = < 45 >;
	cs-gpios = <&gpio1 12 GPIO_ACTIVE_LOW>;
};

/* delete sw3 to reserve the related pin for GPIO use */
/ {
	aliases {  
	 /delete-property/ sw3;
	};
  };

/delete-node/ &storage_partition;
&flash0{
		partitions {
			compatible = "fixed-partitions";
			#address-cells = < 0x1 >;
			#size-cells = < 0x1 >;

			storage_partition: partition@fc000 {
				label = "storage";
				reg = < 0xfc000 0x4000 >;
			};
		};
};
